/* My Services Section */

.my-services {
  background-color: var(--clr-dark);
  background-image: url('../../assets/img/services-bg7.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-light);
  position: relative;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto 2em;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1200px;
    gap: 3em;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 0;
  }

  .service {
    margin-bottom: 0;
  }
}
